header {
    position: relative;

    .HomeFilter {
        background-color: #000;
        opacity: 50%;
        // height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &.PrimaryHeader {
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;

        .HeaderContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 75px);
            flex-direction: column;
            max-width: 100%;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
        }

        .HeaderContainer h1 {
            color: $default-color;
            font-size: 180px;
            font-family: "kameron-bold-compressed", "kameron-bold";
            text-align: center;
        }
    
        .HeaderContainer h2 {
            color: $default-color;
            font-size: 50px;
            font-family: "kameron-bold-compressed", "kameron-bold";
            text-align: center;
        }
    
        .HeaderContain {
            margin: 30px 0;
        }
    }

    &.SecondHeader {
        height: 40vh;
        background-size: cover;
        background-repeat: no-repeat;

        .HeaderContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(40vh - 75px);
            flex-direction: column;
            max-width: 100%;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
        }

        .HeaderContainer h1 {
            color: $default-color;
            font-size: $title-font-size;
            font-family: "kameron-bold-compressed", "kameron-bold";
            text-align: center;
        }
    }

    .HeaderNav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        max-width: 100%;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: #001d3d;
        height: 75px;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .HeaderNav .NavContainer.Nav .NavList {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .HeaderNav .NavContainer.Img {
        width: 95px;
        margin: 0 40px;
    }

    .HeaderNav .NavContainer.Nav .NavList a {
        font-size: 22px;
        font-family: "kameron-bold-compressed", "kameron-bold";
        color: $default-color;
        text-decoration: none;
        margin: 0 40px;
    }
}