@font-face {
    font-family: "kameron-bold";
    src: url(../font/kameron/Kameron-Bold.woff);
}

@font-face {
    font-family: "kameron-bold-compressed";
    src: url(../font/kameron/Kameron-Bold.woff2);
}

@font-face {
    font-family: "kameron-regular";
    src: url(../font/kameron/Kameron-Regular.woff);
}

@font-face {
    font-family: "kameron-regular-compressed";
    src: url(../font/kameron/Kameron-Regular.woff2);
}

/** ----------------------- **/

@font-face {
    font-family: "montserrat-light";
    src: url(../font/montserrat/Montserrat-Light.woff);
}

@font-face {
    font-family: "montserrat-regular";
    src: url(../font/montserrat/Montserrat-Regular.woff);
}

@font-face {
    font-family: "montserrat-semibold";
    src: url(../font/montserrat/Montserrat-SemiBold.woff);
}

@font-face {
    font-family: "montserrat-bold";
    src: url(../font/montserrat/Montserrat-Bold.woff);
}

@font-face {
    font-family: "montserrat-light-compressed";
    src: url(../font/montserrat/Montserrat-Light.woff2);
}

@font-face {
    font-family: "montserrat-regular-compressed";
    src: url(../font/montserrat/Montserrat-Regular.woff2);
}

@font-face {
    font-family: "montserrat-semibold-compressed";
    src: url(../font/montserrat/Montserrat-SemiBold.woff2);
}

@font-face {
    font-family: "montserrat-bold-compressed";
    src: url(../font/montserrat/Montserrat-Bold.woff2);
}