$color-title: #001d3d;
$color-text: #001d3d;
$color-primary: #001d3d;
$color-secondary: #FFC300;
$color-third: #FFD60A;
$default-color: #eee;

$title-font-size: 70px;
$subtitle-font-size: 45px;
$subsubtitle-font-size: 24px;
$text-font-size: 18px;

$title-font-family: "kameron-bold-compressed", "kameron-bold";
$text-font-family: "montserrat-regular-compressed", "montserrat-regular";